*.old
.svn
.DS_Store
.hg
.\#*
\#*
*.el~
*.elc
dotemacs.d/backups/*
dotemacs.d/mwall-saved
dotemacs.d/el-get
dotemacs.d/auto-save-list
dotemacs.d/.emacs.desktop
dotemacs.d/.emacs.desktop.lock
dotemacs.d/.session
dotemacs.d/.org-id-locations
dotemacs.d/ac-comphist.dat
dotemacs.d/semanticdb
dotemacs.d/elpa/archives
dotemacs.d/tramp
