*.el~
*.elc
*.el~
*.elc
backups/*
mwall-saved
el-get
auto-save-list
.emacs.desktop
.emacs.desktop.lock
.session
.org-id-locations
ac-comphist.dat
semanticdb
elpa/archives
tramp
backups
tramp
projectile.cache
projectile-bookmarks.eld
bookmarks
