"*":
  "advanced-open-file": {}
  "adwaita-pro-ui":
    fontFamily: "Oxygen-Sans"
    theme: "light"
  "atom-gpg":
    gpgExecutable: "/usr/local/bin/gpg"
    gpgRecipients: "mjwall@gmail.com"
  autosave:
    enabled: true
  core:
    allowPendingPaneItems: false
    automaticallyUpdate: false
    destroyEmptyPanes: false
    disabledPackages: [
      "tool-bar"
    ]
    openEmptyEditorOnStart: false
    projectHome: "/Users/mjwall/git"
    telemetryConsent: "no"
    themes: [
      "unity-ui"
      "atom-material-syntax"
    ]
  editor:
    invisibles: {}
    showInvisibles: true
    softWrap: true
    tabType: "soft"
  "exception-reporting":
    userId: "37f273b5-452a-53e1-a3b5-ecd94847b9ab"
  "highlight-selected":
    lightTheme: true
  "linter-shellcheck":
    shellcheckExecutablePath: "/usr/local/bin/shellcheck"
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  organized:
    enableToolbarSupport: false
  "platformio-ide-terminal":
    core:
      scrollback: 10000
    style:
      fontFamily: "Source Code Pro"
      fontSize: "13"
      theme: "solarized-dark"
    toggles:
      autoClose: true
      cursorBlink: false
  "run-command2": {}
  "unity-ui":
    colorStatusIndicatorsInTreeView: true
    showIcons: true
  welcome:
    showOnStartup: false
